/*background color */
body {
	background-color: #FFF1E7;
	color: #FF0048;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	margin-top: 200px;
	
}

/*button color */
button {
	background-color: #FFF1E7;
	color: #FF0048;
	font-family: 'Press Start 2P', cursive;
	border-radius: 15px;
}