/*game board styles */
.board {
	border: 1px solid black;
	height: 800px;
    position: absolute;
}

/*racer styles, dont need both if I keep them same styles */
.racer1 {
	border: 1px solid black;
	width: 50px;
    height: 10px;
    position: absolute;
    top: 60px;
}

.racer2 {
	border: 1px solid black;
	width: 50px;
    height: 10px;
    position: absolute;
    top: 400px;
}

/*finish line styles */
.finish {
	border: 1px solid black;
	width: 50px;
    height: 800px;
    position: absolute;
    right: 9px;
    left: 1050px;
}